<h1> Directives component {{fname}}
</h1>

<pre>
<!-- {{}} -- interpolation / one-way data binding / expression
[()] -- two way data binding
* -- condition
[] -- attributes
() -- events
# -- local variables



  ng-model    [(ngModel)]
  ng-if       *ngIf
  ng-show     [hidden]
  ng-hide
  ng-repeat   *ngFor
  ng-switch         [ngSwitch]
  ng-switch-case    *switchCase
  ng-view         router-outlet

  ng-app          @NgModule
  ng-controller   @component

  ng-options      [options]
  ng-resource
  ng-init
  ng-bind


 -->

<p *ngIf="fname == 'qshore'; else tech"> this is if </p>
<ng-template #tech> this is else </ng-template>


<p [hidden]="fname == 'qshores'"> this is hidden</p>

</pre>
<p *ngFor="let fruit of fruits"> {{fruit}}</p>

<ul *ngFor="let fruit of fruits">
  <li>{{fruit}}</li>
</ul>

<select>
  <option>Select</option>
  <option *ngFor="let fruit of fruits"> {{fruit}}</option>
</select>


<table border="1">
  <tr *ngFor="let fruit of fruits">
    <td> {{fruit}}</td>
  </tr>
</table>

<p [ngSwitch] ="fname">
  <span *ngSwitchCase="'qshore'"> qshore</span>
  <span *ngSwitchCase="'qshore2'"> qshore2</span>
  <span *ngSwitchCase="'qshore3'"> qshore3</span>
  <span *ngSwitchCase="'qshore4'"> qshore4</span>
  <span *ngSwitchDefault> Default..</span>
</p>

<button [appAttr]="dirCallMe" msg="do you want to execute the directive ??">Click Me</button>

<app-elementdir names="qshore tech"></app-elementdir>
